<launch>
  <!-- Start the Robot-->
  <node pkg="rosaria" type="RosAria" name="RosAria" required="true" output="screen" >
    <param name="port" value="/dev/ttyUSB0"/>
  </node>

  <!-- Wait for Pionner to stop mucking with the com port-->
  <arg name="node_start_delay" default="4.0"/> 

  <!-- Start the Lidar -->
  <node pkg="sicktoolbox_wrapper" type="sicklms" name="sicklms" required="true" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@'">
    <param name="port" value="/dev/ttyUSB1"/>
    <param name="baud" value="38400"/>
  </node>

  <!-- Create Link between Lidar and Robot-->
  <node pkg="tf"
        type="static_transform_publisher"
        name="link1_broadcaster"
        args="0 0 0 0 0 0 base_link laser 100" />

</launch>
